<html>

<body>
  <p>Hi {{name}},</p>
  <p>Your account has been created successfully on the {{siteName}} app.</p>
  <p>We are happy you joined us, please proceed to verify your account.</p>
  <br>
  <p>The {{siteName}} team.</p>
</body>

</html>